### Pandas Apply Lambda

Always remember the Zen of Python!!!

In [1]:
import pandas as pd

In [2]:
df_movies = pd.read_csv('../data/input/IMDB-Movie-Data.csv')

In [3]:
df_movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [4]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [ ]:
def bins(votes):
    if x >= 0 and x <= 999:
    return'cat 1'
    elif votes = 1000 >= 9999
    print('cat 2')
    elif votes = 10000 >= 99999
    print('cat 3')
    elif votes = 100000 >= 999999 
    print('cat 4')
    elif votes >= 1000000
    print('cat 5')

In [5]:
#challenge 1
#df_movies_bins['bin'] = df_movies['Votes'].apply(bins)
df_movies_bins['bin'] = df_movies.apply(lambda row: bins(row['Votes']), axis=1 )
df_movies_bins.head()

NameError: name 'bins' is not defined

In [ ]:
#chaganlle 2 
df_movies_revenue['revenue_per_minute'] = df_movies.apply(lambda row: row['Revenue (Millions)'] / row['Runtime (Minutes)']), axis=1 )
df_movies_revenue.head()

In [ ]:
#chaganlle 3